* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
wrapper {
}
header {
  height: 155px;
  background-color: black;
}

section .sec_image {
  margin-top: 0;
  height: 640px;
  background-color: #555;
  background-image: url("image/rsz_book-library-with-open-textbook.jpg");
}

footer {
  height: 100px;
  background-color: black;
}
#neubar {
  background: #fae8d2;
  box-shadow: 4px 6px 12px rgba(0,0,0,0.4)
}

.nav-item .active {
  border-radius: 6px;
  background: linear-gradient(145deg, #ffe7ca, #f5d7b2);
  box-shadow:  4px 4px 8px #ddc1a0,
               -4px -4px 8px #f7e5cc;
}
#neubar .dropdown-menu a:hover {
  color: #454545
}
#neubar .nav-item {
  margin : auto 4px;
}
#neubar a {

  padding-left:12px;
  padding-right:12px;
}
#neubar .dropdown-menu {
  background : #545454
}
a.navbar-brand {
  color: #454545
}
/*nav li a {
  color: white;
  text-decoration: none;
   font-size: 25px;
  text-align: center;
  line-height: 100px; */

/* nav {
  float: right;
  word-spacing: 30px;
  padding: 20px;
}
nav li {
  display: inline-block;
  line-height: 70px;
  text-align: center;
} */
.image1 {
  float: left;
  padding-left: 20px;
}
.image1 img {
  padding-left: 80px;
}
.box {
  height: 300px;
  width: 450px;
  background-color: black;
  margin: 70px auto;
  opacity: 0.7;
  color: white;
  padding: 20px;
}
/*---------------------student login-----------------------*/

section .sec_image2 {
  margin-top: 0;
  height: 640px;
  background-color: #555;
  background-image: url("image/rsz_book-library-with-open-textbook_1.jpg");
}
.box1 {
  height: 500px;
  width: 500px;
  background-color: black;
  margin: 70px auto;
  opacity: 0.7;
  color: white;
  padding: 20px;
}
form .login,
.signup {
  margin: auto 70px;
}
input {
  height: 35px;
  width: 300px;
}
.login-button {
  display: block;
  cursor: pointer;
  text-align: center;
  background-color: #04aa6d;
  padding: 14px 28px;
}
.under-login {
  color: white;
  padding-left: 15px;
}
/*------------registration----------------*/
.reg_image2 {
  margin-top: 0;
  height: 700px;

  background-image: url("image/Blue-Background.jpg");
}
.box2 {
  height: 530px;
  width: 500px;
  background-color: black;
  margin: 70px auto;
  opacity: 0.7;
  color: white;
  padding: 20px;
}
